<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">书名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" lay-verify="required" lay-reqtext="查询内容不能为空!" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="https://www.layuicdn.com/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        function getCookie(cname)
        {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(name)===0) return c.substring(name.length,c.length);
            }
            return "";
        }
        var token = getCookie("Lhan-blog-token");
        layui.$.ajaxSetup({

            beforeSend: function(jqXHR, settings) {

                /*header里加请求头参数*/
                jqXHR.setRequestHeader('Authorization', token)

            },
            success:function(result,status,xhr){

            },
            error:function(xhr,status,error){

            },
            complete:function(xhr,status){

            }
        });

        table.render({
            elem: '#currentTableId',
            url: 'admin/findAllBooks',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID', sort: true},
                {field: 'name', minWidth: 180, title: '书名'},
                {field: 'description', width: 120, title: "书籍描述", sort: true},
                {field: 'author', width: 180, title: "作者", sort: true},
                {field: 'progress', title: '读书状态', width: 100,templet:'#progressTpl'},
                {field: 'douban_link', width: 150, title: '豆瓣url'},
                {field: 'purchase_link', width: 150, title: '购书url'},
                {field: 'pdf_link', width: 150, title: 'PDFurl'},
                {title: '操作', minWidth: 120, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        // form.on('submit(data-search-btn)', function (data) {
        //     var result = JSON.stringify(data.field);
        //     layer.alert(result, {
        //         title: '最终的搜索信息'
        //     });
        //
        //     //执行搜索重载
        //     table.reload('currentTableId', {
        //         page: {
        //             curr: 1
        //         },
        //         url: '/admin/findCommentLikeUserName'
        //         , where: {
        //             searchParams: result
        //         }
        //     }, 'data');
        //
        //     return false;
        // });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加新书',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'admin/addBook',
                });

                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var selectCount = data.length;
                if (selectCount === 0)
                {
                    layer.msg("批量删除至少选中一项数据",function () {});
                    return false;
                }
                layer.confirm("你确定需要删除选中的项吗？后果不堪设想喔!",function (index) {
                    layer.close(index);
                    index = layer.load(1,{shade:[0.1,'#fff']});
                    var ids = [];
                    for (var i=0; i<selectCount; i++)
                    {
                        ids[i] = data[i].id;
                    }

                    $.ajax({
                        type : 'post',
                        url : 'admin/deleteBookBatch',
                        data:{
                            ids : ids
                        },
                        traditional: true,
                        dataType : 'json',
                        success : function (data) {
                            if (data.status === 101)
                            {
                                $.get("/toLogin",function(data,status,xhr){

                                    layer.alert("未登录，没有权限",{
                                        icon:5
                                    },function () {
                                        window.location.replace("/api/blog/login");
                                    });

                                });
                            }
                            else if (data.status === 0)
                            {
                                table.reload('currentTableId', {
                                        page: {
                                            curr: 1
                                        }
                                    }
                                );
                                layer.close(index);
                                layer.msg("删除成功",{
                                    icon:1
                                });
                            }
                            else
                            {
                                layer.msg("删除失败",{
                                    icon:5
                                })
                            }
                        }
                    })
                });

            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {

        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '编辑书籍',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: 'admin/editBook/'+data.id
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                // $(window).on("close",function () {
                //
                // })
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除行么', function (index) {
                    $.ajax({
                        url:'admin/deleteBook/'+data.id,
                        type:'post',
                        dataType:'json',
                        success: function (result) {

                            if (result['status'] === 101)
                            {
                                $.get("/toLogin",function(data,status,xhr){

                                    layer.alert("未登录，没有权限",{
                                        icon:5
                                    },function () {
                                        window.location.replace("/api/blog/login");
                                    });

                                });
                            }
                            else if (result['status'] === 0)
                            {
                                obj.del();
                                layer.close(index);
                                table.reload('currentTableId', {
                                    page: {
                                        curr: 1
                                    }
                                });
                                layer.msg("删除成功",{
                                    icon:1
                                });
                            }
                            else
                            {
                                layer.msg("删除失败",{
                                    icon:5
                                })
                            }
                        }

                    });
                });
            }
        });

    });
</script>
<script type="text/html" id="progressTpl">
    {{#  if(d.progress === '0'){ }}
    <span style="color: orange;">想读</span>
    {{#  } else if(d.progress === '1') { }}
    <span style="color: red;">正在读</span>

    {{#  } else { }}
    <span style="color: green">已读</span>
    {{#  } }}
</script>
</body>
</html>