<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/assets/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">网站名称</label>
        <div class="layui-input-block">
            <input name="name" class="layui-input" lay-verify="required" lay-reqtext="名称不能为空" placeholder="请输入网站名称">
        </div>
    </div>

    <div class="layui-form-item layui-form-text ">
        <label class="layui-form-label required">网站描述</label>
        <div class="layui-input-block">
            <textarea name="description" class="layui-textarea" lay-verify="required" lay-reqtext="网站描述不能为空" placeholder="请输入网站描述"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">网站Logo</label>
        <div class="layui-input-block">
            <input name="logo" class="layui-input" lay-verify="required" lay-reqtext="网站logo不能为空" placeholder="请输入网站logo链接">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">所属分类</label>
        <div class="layui-input-block">
            <input name="title" class="layui-input" lay-verify="required" lay-reqtext="所属分类不能为空" placeholder="请输入所属分类">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label required">网站路径</label>
        <div class="layui-input-block">
            <input name="href" class="layui-input" lay-verify="required" lay-reqtext="网站链接不能为空" placeholder="请输入网站链接">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script src="https://www.layuicdn.com/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        function getCookie(cname)
        {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++)
            {
                var c = ca[i].trim();
                if (c.indexOf(name)===0) return c.substring(name.length,c.length);
            }
            return "";
        }
        var token = getCookie("Lhan-blog-token");
        layui.$.ajaxSetup({

            beforeSend: function(jqXHR, settings) {

                /*header里加请求头参数*/
                jqXHR.setRequestHeader('Authorization', token)

            },
            success:function(result,status,xhr){

            },
            error:function(xhr,status,error){

            },
            complete:function(xhr,status){

            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                type : 'post',
                url : '/api/blog/admin/admin/insertFriendshipLink',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify ({
                    name : data.field.name,
                    description : data.field.description,
                    logo : data.field.logo,
                    title : data.field.title,
                    href : data.field.href,

                }),
                dataType:'json',
                success : function (data) {
                    if (data.status === 101)
                    {
                        $.get("/toLogin",function(data,status,xhr){

                            layer.alert("未登录，没有权限",{
                                icon:5
                            },function () {
                                window.location.replace("/api/blog/login");
                            });

                        });
                    }
                    else if (data.status === 0)
                    {
                        var index = layer.alert("添加成功", {
                            title: '添加信息'
                        }, function () {

                            // 关闭弹出层
                            layer.close(index);

                            window.parent.location.reload();
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);

                        });
                    }
                    else
                    {
                        layer.msg("添加失败",{
                            icon:5
                        })
                    }
                }
            });




            return false;
        });

    });
</script>
</body>
</html>