<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">

<!-- 所有页面共用底部 -->
<div th:fragment="footer">
    <!-- Footer -->
    <footer class="footer-container d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center footer">
                <div class="col-md-4 text-center text-md-left order-md-1 order-2">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center order-md-2 order-1">
                    <a href="#"><img src="http://static.lhanman.cn/static/images/logo.jpg" alt="" class="img-fluid"></a><hr>

                </div>
                <div class="col-md-4 order-md-3 order-3">
                    <div class="footer-cradit text-center text-md-right">
                        <a style="font-size: 13px" href="http://beian.miit.gov.cn/">粤 ICP 备20033660号 </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</div>

</body>
</html>